body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.circular-progress{
    margin-left: 30px;
    margin-top: 15px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: conic-gradient(rgba(55, 164, 253, 1) 3.6deg, #ccc 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: black;
}
.progress-value{
    position: relative;
    color: white;
}
.circular-progress-bot{
    margin-left: 30px;
    margin-top: 15px;
    height: 100PX;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(rgba(55, 164, 253, 1) 3.6deg, #ccc 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress-bot::before{
    content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: black;
}

.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 30px;
    margin-top: 15px
    /* display: flex;
    justify-content: center;
    align-items: center;*/
}
/*
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 8px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    row-gap: 20px;
}

.card-row {
    display: flex;
    gap: 20px;
}

.card-col-item {
    width: 300px;
    height: 250px;
    /*border: solid 0.5px lightgray;*/
    border-radius: 8px;
    /*text-align: center;*/
    /* display: flex; */
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 10px rgba(55, 164, 253, 0.5);
}

.top {
    width: 460px;
}

.progress-container {
    width: 150px;
    background-color: #ccc;
    height: 20px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color:rgba(55, 164, 253, 1);
    transition: width 0.5s ease-in;
    border-radius: 5px
}

.component-name {
    margin: 15px;
}

.card-info {
    display: flex; 
    flex-direction: row; 
    gap: 50px
}

.card-info-details {
    display: flex; 
    flex-direction: column;
    margin-top: 50px;
}

.card-info-details-bot {
    display: flex; 
    flex-direction: column;
    margin-top: 25px;
}

.details {
    display: flex; 
    flex-direction: column;
    margin-bottom: 10px; 
    /* justify-content: space-between; */
}

.key-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key-value-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px; 
    gap: 15px;
}

.ram {
    justify-content: space-evenly;
    margin-left: 0px;
    margin-top: 0px;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}